/* divisions page */
.division-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 50px;
}

.division-header-title {
  margin-top: 50px;
  font-size: 3.5rem;
  font-weight: bold;
}

@media (max-width: 992px) {
  .division-header-title {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .division-header-title {
    font-size: 2.5rem;
  }
  .division-header {
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .division-header-title {
    font-size: 2rem;
  }
}
