/* contact us page */

/* Main Container */
.contactus-page-container {
  padding: 80px 20px;
  margin: 0 auto;
  width: 100vw;
  /* max-width: 1200px; */
  background: linear-gradient(to bottom right, #f8fafc, #e0f2fe);
  text-align: center;
  margin-top: 5.4rem;
}

/* Heading */
.contactus-heading {
  font-size: 2.5rem;
  margin-bottom: 50px;
}

/* Layout */
.contactus-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
@media (min-width: 344px){
  .contactus-page-container{
    margin-top: 0rem;
  }
}
@media (min-width: 360px){
  .contactus-page-container{
    margin-top: 0rem;
  }
}
@media (min-width: 480px){
  .contactus-page-container{
    margin-top: 0rem;
  }
}

@media (min-width: 768px) {
  .contactus-page-container{
    margin-top: 0rem;
  }
  .contactus-content {
    flex-direction: row;
    justify-content: center;
  }
}
@media (min-width: 820px){
  .contactus-page-container{
    margin-top: 9rem;
  }
}
@media (min-width: 1024px){
  .contactus-page-container{
    margin-top: 5%;
  }
}


/* Cards */
.contactus-info-card,
.contactus-form-card {
  padding: 40px;
  width: 100%;
  max-width: 500px;
  text-align: left;
}

/* Info List */
.contactus-info-list p {
  margin-bottom: 15px;
  font-size: 1rem;
}

.contactus-icon {
  margin-right: 12px;
}

/* Form Elements */
.contactus-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contactus-input,
.contactus-textarea {
  padding: 15px;
  font-size: 1rem;
}

.contactus-button {
  padding: 15px 20px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}